<div class="main-bar">
    <div class="main-bar-header">
      <div class="search">
        <%= form_with(url: "#", local: true, method: :get, class: "search-form") do |form| %>
          <%= form.text_field :hoge, placeholder: "動画の検索", class: "search-input" %>
        <% end %>
      </div>
      <% if user_signed_in? %>
        <div class="logo-form">
          <%= link_to(new_video_path, class: "logo") do %>
            <%= image_tag "logo.png", width: "150px" %>
          <% end %>
        </div>
      <% end %>
    </div>
    <div class="main-bar-main">
      <div class="main-head">
        <%= "ホーム" %>
      </div>
        <%# eachメソッドを使用して、動画を表示させる %>
      <div class="video-all">
        <% @video.each do |video| %>
        <% if video.video.attached? %>
            <div class="video">
              <%= link_to video_tag rails_blob_path(video.video), root_path, width: "300px", height: "200px", class: "index_video_box" %>
            </div>
        <% end %>
      <% end %>
      </div>
      <div class="main-footer">
        ©2020 VIDEO ~REMAKE~　
      </div>
    </div>
</div>