<div class="v-n_main-full">
  <div class="v-n_main1">
    <h1>あなたのお気に入りのVIDEOを皆さんに届けよう!</h1>
      <%= form_with(model: @video, local: true) do |f|%>
        <div class="upload-screen">
          <%= image_tag "logo.png", class: "video-select-logo" %>
          <%= f.file_field :video, class: "video-select" %>
        </div>
        <div class="show-screen">
          <div class="field-box">
            <%= f.label :title, "タイトル", class: "video-title" %>
            <%= f.text_field :title, class: "video-title-box" %>
          </div>
          <div class="field-box">
            <%= f.label :genre, "ジャンル", class: "video-genre" %>
            <%= f.collection_select(:genre_id, Genre.all, :id, :name, {}, {class:"collection_select-box", id:"video-genre"}) %>
          </div>
          <div class="field-box">
            <%= f.label :overview, "　　概要", class: "video_overview" %>
            <%= f.text_area :overview, class: "video-overview-box" %>
          </div>
        </div>
  </div>
        <div class="v-n_main2">
          <h1>過去にアップロードした動画</h1>
          <div class="user-video">
            <div class="sample-boxs"></div>
            <div class="sample-boxs"></div>
            <div class="sample-boxs"></div>
            <div class="sample-boxs"></div>
            <div class="sample-boxs"></div>
          </div>
          <div class="v-n_actions">
            <%= f.submit "動画をアップロードする", id: "video_btn" %>
          </div>
    <% end %>
  </div>
</div>