<div class="v-s_main">
  <div class="v-s_main1">
    <div class="video_show1">
      <% if @video.video.attached? %>
        <div class="show_video">
          <video src="<%= rails_blob_path(@video.video) %>" type="video/mp4" controls="controls", width="726" height="447", class="video_tag"></video>
          <div class="video_details">
            <div class="show-video-title">
              <% if @video.title.length >= 10 %>
                <%= truncate(@video.title, length: 13) %>
              <% else %>
                <%= @video.title %>
              <% end %>
            </div>
            <%= image_tag "heart.png", width: "50px", height: "50px", class: "overview-service"%>
            <%= image_tag "comment.png", width: "50px", height: "50px", class: "overview-service"%>
            <%= link_to image_tag("edit.png", width: "50px", height: "50px", class: "overview-service"), edit_video_path %>
            <%= link_to image_tag("Garbage can.png", width: "50px", height: "50px", class: "overview-service"), video_path, method: :delete, data: { confirm: '削除しますか？' } %>
          </div>
        </div>
      <% end %>
    </div>
    <div class="video-show2">
      <div class="video-date">投稿日　<%= @video.updated_at %></div>
      <div class="video-overview">＜概要＞</div>
      <div class="overview">
        <%= @video.overview %>
      </div>
    </div>
  </div>
  <div class="v-s_main2">
    <% @videos.each do |video| %>
      <% if video.video.attached? %>
          <div class="video">
            <%= link_to video_tag(rails_blob_path(video.video), width: "270px", height: "170px", class: "show_video_box"), video_path(video.id) %>
            <div class="show_video_box_title"><%= video.title %></div>
          </div>
      <% end %>
    <% end %>
  </div>
</div>